
h1{
    font-family: "lato";
    text-align:center;
}

body{
    background-color:beige;
}

form{
    width: 400px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    margin: 0 auto;
    padding:10px;
}


label{
    display:block; 
    margin-bottom: 3px;
}

input{
    width:95%;
    margin-bottom: 10px;
}

select{
    width:95%;
    margin-bottom: 10px;
}

textarea{
    width:95%;
    margin-bottom: 10px;
}



button{
    height:26.1px;
    display:block;
    width:96.35%;
    text-transform: capitalize;
    letter-spacing: 2px;
}

button:hover{
    background-color: #0f0f0f;
    color:aliceblue;
    border-radius: 2px;
    /* border-width: 1px;
    border-color: #0f0f0f;
    border-style: solid; */
}
